body {
background-color: #101727;
font-family: 'Overpass', 'Arial', sans-serif;
color: white;
text-align: center;
font-size: 16px;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

h1 {
font-family: 'Source Serif Pro', sans-serif;
font-size: 36px;
color: white;
font-weight: bold;
text-transform:capitalize;
}

h2 {
font-family: 'Source Serif Pro', sans-serif;
font-size: 36px;
font-weight: bold;
}

.nav {
  font-family: 'Overpass', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}


a {
text-decoration: none;
  font-weight: bold;
  color: #FCFCED;
}

img {
  width: 100%;
}





#navigation {
font-family: 'Overpass', 'Arial', sans-serif;
font-weight: bold;
list-style: none;
text-decoration: none;
background-color: #528655;
padding: 5px;

}

#waw {
  padding: 5px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#topic {
  background-color: #528655;
}

#contestants {
  margin-left: auto;
  margin-right: auto;
  background-color: #141B54;
  padding-top: 1px;
}

#gender {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#ethnicity {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 50px;
}

#lgbtq {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 50px;

}

#headline {
background-color: #141B54;
padding-top: 1px;
}

#twitter {
margin-left: auto;
margin-right: auto;
width: 50%;

}

#female {
color: #528655
}

#asianamerican {
color: #528655
}

#black {
  color: #EBF648
}

#latinx {
  color: #D5594E
}

#introduction {
margin-left: 10%;
margin-right: 10%;
}

#lf1 {
  margin-left: 10%;
  margin-right: 10%;
}

#lf2{
  margin-left: 10%;
  margin-right: 10%;
}

#femalewinners {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#malewinners {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#aawinners {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

#blackwinners {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#sandra {
  width: 15%;
  margin-left: auto;
  margin-right: auto;
}


#whitewinners {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
